<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ '/styles.css' | relative_url }}">
</head>

<body>
    <div class="sidebar">
        <ul>
            {% for page in site.pages %}
                <li><a href="{{ page.url | relative_url }}">{{ page.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <!-- 主内容区域 -->
    <div class="main-content">
        {{ content }}
    </div>
    <script src="{{ '/script.js' | relative_url }}"></script>
</body>

</html>